/*SELETORES*/
body{
    background-color: rgb(61, 61, 61);
    height: 760px;

    border-left: 5px solid black;
    border-right: 5px solid black;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

h1{
    background-color: rgb(29, 29, 29);
    text-align: center;
    text-transform: uppercase;
    color: red;
}

h2{
    font-size: 30px;
}

h2::after{
    font-size: 18px;
    font-weight: bold;
    content: "Promoção";
    background-color: red;
    color:#000000;

    right: 397px;
    bottom: 270px;
    position: absolute;
    padding: 5px 25px;
}

h3{
    color: rgb(1, 97, 1);
}

p{
    font-size: 20px;
}

a{
    color: rgb(255, 204, 169);
    text-decoration: n;
}

a:hover{
    color: rgb(255, 115, 0);
    text-decoration:underline;
}

button{
    cursor: pointer;
    color: red;
    background-color: black;

    width: 1814px;
    height: 164px;

    text-transform: uppercase;
    font-size: 30px;
    border-radius: 3px;
}

button:hover{
    color: rgb(0, 255, 0);
    background-color: rgb(0, 0, 0);
}

button:visited{
    color:  rgb(0, 255, 106);
}

button:active{
    color: rgb(166, 255, 0);
}

/*CLASSES*/
.slogan-text{
    font-size: 15px;
}

.strong-text{
    color: rgb(255, 94, 0);
}

.size-img{
    width: 118px;
    height: 118px;
    display: block;
    margin: 0 auto;
}

.size-img-2{
    width: 300px;
    height: 400px;
}

.x-orientation{
    display: flex;
    flex-direction: row;
    position: absolute;

    left: 340px;
    bottom: 380px;
}

.x-orientation div:hover{
    box-shadow: 10px 10px 10px rgba(75, 75, 75, 0.829);
   }

.y-orientation{
    width: 200px;
    height: 100px;

    display: flex;
    flex-direction: column;
    position: absolute;

    left: 340px;
    bottom: 580px;
}

.color-0{
    background-color: rgb(0, 0, 0);
    cursor: pointer;

    border-radius: 100px;
    width: 40px;
    height: 40px;
}

.color-1{
    background-color: rgb(72, 255, 0) ;
    cursor: pointer;

    border-radius: 100px;
    width: 40px;
    height: 40px;
}

.color-2{
    background-color: rgb(0, 255, 149);
    cursor: pointer;

    border-radius: 100px;
    width: 40px;
    height: 40px;
}

.color-3{
    background-color: rgb(0, 38, 255);
    cursor: pointer;

    border-radius: 100px;
    width: 40px;
    height: 40px;
}

.color-4{
    background-color: rgb(174, 0, 255);
    cursor: pointer;

    border-radius: 100px;
    width: 40px;
    height: 40px;
}

.side-info{
    width: 750px;
    height: 100px;

    display: flex;
    flex-direction: column;
    position: absolute;

    left: 900px;
    bottom: 590px;
}

.button-change{
    align-items: center;
    text-align: center;

    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: center;

    left: 15px;
    bottom: 7px;
}

*{  box-sizing: border-box;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}